.Rproj.user
.Rhistory
.RData
.Ruserdata
senftenberg_kolloquium.Rproj
presentation.aux
presentation.bbl
presentation.log
presentation.nav
presentation.out
presentation.snm
presentation.synctex.gz
presentation.tex
presentation.toc
presentation-concordance.tex
